
  .login{
  /*
    background: url('https://tailwindadmin.netlify.app/dist/images/login-new.jpeg');
  */
  background: url("https://images.unsplash.com/photo-1518384401463-d3876163c195?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDQzfGFldTZyTC1qNmV3fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
background-size: contain;
background-position: center;
margin-top:30px;



  }
